

.text-center {
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    color: #30302e;
    padding: 20px;
}

.third_section {
    margin-top: 4em;
}

.third_section > h1 {
    text-align: center;
}

